services:
  db:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_TEST_DB: ${POSTGRES_TEST_DB}
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

    command: [
        "sh",
        "-c",
        "docker-entrypoint.sh postgres & pid=$!; \
        until pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}; do \
        echo 'waiting for postgres...'; \
        sleep 1; \
        done; \
        exists=$(psql -U ${POSTGRES_USER} -d ${POSTGRES_DB} -tAc \"SELECT 1 FROM pg_database WHERE datname='${POSTGRES_TEST_DB}'\"); \
        if [ \"$exists\" != \"1\" ]; then \
        echo \"creating test db ${POSTGRES_TEST_DB}\"; \
        psql -U ${POSTGRES_USER} -d ${POSTGRES_DB} -c \"CREATE DATABASE \\\"${POSTGRES_TEST_DB}\\\";\"; \
        else \
        echo \"test db ${POSTGRES_TEST_DB} already exists\"; \
        fi; \
        wait $pid;",
      ]

  redis:
    image: redis:7
    restart: always
    ports:
      - "6379:6379"

  api:
    build: .
    volumes:
      - .:/app
    depends_on:
      - db
      - redis
    env_file: .env
    command:
      [
        "sh",
        "-c",
        "uvicorn app.main:app --host ${APP_HOST} --port ${APP_PORT} --reload --workers ${APP_WORKERS}",
      ]
    ports:
      - "8000:8000"
    environment:
      - PYTHONPATH=/app

volumes:
  db_data:
